[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggokabeito"]
	path = ggokabeito
	url = https://github.com/malcolmbarrett/ggokabeito
[submodule "metaconfoundr"]
	path = metaconfoundr
	url = https://github.com/malcolmbarrett/metaconfoundr
[submodule "precisely"]
	path = precisely
	url = https://github.com/malcolmbarrett/precisely
